#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* css for fiduswriter ModTrack */

span.insertion,
span.selected-insertion, /* insertion with focus (clicked) */
span.approved-insertion
{
  background-color: rgba(0, 255, 0, 0.3);
}

span.deletion,
span.selected-deletion /* deletion with focus (clicked) */
{
  background-color: rgba(255, 0, 0, 0.3);
}

/* note: inconsistent class names: format-change vs selected-format_change */
span.format-change,
span.selected-format_change
{
  background-color: rgba(0, 255, 255, 0.3);
}

