#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  */
}


/* minimal css for fiduswriter ModTrack */

span.approved-insertion {
  background-color: rgba(0, 255, 0, 0.5);
}

span.approved-deletion {
  background-color: rgba(255, 0, 0, 0.5);
}
